 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row" style="font-size: 1.5em;">
                 <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>
                    Having 34 years of experience in the field of Design, Development, and Realization of high precision space-qualified components at ISRO.
                    </p>
                    <ul style="text-align: left;">
                    <li>Played a key role in the manufacturing of mission-critical precision components with close tolerances and critical assemblies through its precision machining, assembly, specialized fabrication, testing, and quality control processes.</li>
                    <li>Closely interacted with parties having state-of-the-art manufacturing facilities in the country which can undertake precision machining, assembly, specialized fabrication, heat treatment, testing, quality control, and other specialized processes.</li>
                    <li>Worked as a team lead for development and fabrication of molds of antenna reflectors of Spacecraft.</li>
                    <li>Worked in the areas for use of advance materials in the field of Space Applications .</li>
                    <li>Worked as a team lead for vendor evaluation and development for fabrication of highly precision components.</li>
                    <li>Published 9 papers in various National & International Conferences. Successfully developed mechanical parts in CFRP and other advanced composites for Space use. Highly complex components were developed by Additive Manufacturing Techniques.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
